<% provide :title, 'Empty page' %>

<div class="card">
  <div class="card-header">
    <h2 class="card-title">xxx</h2>
    <small class="card-subtitle">xxx</small>
  </div>

  <div class="card-block">
  </div>
</div>